<div class="container-fluid bg-dark">
  <div class="row contenedor">
    <div class="col pt-3">
      <span class="text-white titulo">Redes Sociales</span>
    </div>
    <div class="col p-4 redes">
      <a href="https://www.facebook.com/" class="me-4 link-secondary">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://twitter.com/" class="me-4 link-secondary">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://www.whatsapp.com/" class="me-4 link-secondary">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <a href="https://youtube.com/" class="me-4 link-secondary">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="https://gmail.com/" class="me-4 link-secondary">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="https://github.com/" class="me-4 link-secondary">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3 InfFooter">
        <h3 class="text-uppercase titulo my-3">
          <i class="fa-brands fa-shopify me-3 text-secondary"></i>Stiley Store
        </h3>
        <p class="text1">
          Aprovecha tus noches al maximo con la mayor comodidad de una suave tela
        </p>
      </div>
      <div class="col-sm-3 InfFooter">
        <h3 class="titulo text-uppercase my-3">productos</h3>
        <p>
          <a href="#" class="text">Pijama</a>
        </p>
        <p>
          <a href="#!" class="text">Blusa</a>
        </p>
        <p>
          <a href="#" class="text">Camiseta</a>
        </p>
        <p>
          <a href="#" class="text">Medias</a>
        </p>
      </div>
      <div class="col-sm-3 InfFooter">
        <h3 class="titulo text-uppercase my-3">categorias</h3>
        <p>
          <a href="#!" class="text">Mujer</a>
        </p>
        <p>
          <a href="#!" class="text">Niños</a>
        </p>
        <p>
          <a href="#!" class="text">Hombre</a>
        </p>
        <p>
          <a href="#" class="text">Unisex</a>
        </p>
      </div>
      <div class="col-sm-3 InfFooter">
        <h3 class="titulo text-uppercase my-3">contactos</h3>
        <p class="text1"><i class="fas fa-home me-3 text-secondary"></i> Medellín, Antioquia, CO</p>
        <p class="text1">
          <i class="fas fa-envelope me-3 text-secondary"></i>
          stileyStore.com.co
        </p>
        <p class="text1"><i class="fas fa-phone me-3 text-secondary"></i> + 57 300 703 0424</p>
        <p class="text1"><i class="fas fa-print me-3 text-secondary"></i> + 57 300 703 0424</p>
      </div>
    </div>
  </div>
  <div class="row bg-black">
    <div class="col-lg">
      <p class="titulo copyright">copyright &copy; 2022 <a href="#">Stiley Store</a></p>
    </div>
    <div class="col">
      <div class="footer-menu">
        <ul class="f-menu">
          <li><a href="" class="titulo">Home</a></li>
          <li><a href="" class="titulo">About</a></li>
          <li><a href="" class="titulo">Contact</a></li>
          <li><a href="" class="titulo">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- Footer -->