<!-------------------------------------------------NAVBAR1---------------------------------------------->
<nav class="bg-light p-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <a class="navbar-brand" href="#">
            <img src="https://th.bing.com/th/id/OIP.xrvKQuYZShEDib4Tiw-HzQHaGB?pid=ImgDet&rs=1" alt="Bootstrap" width="30" height="24">
          </a>
        </div>
        <div class="col-4">
          <a class="navbar-brand d-flex justify-content-center fs-3" href="#">StileyShop</a>
        </div>
        <div class="col-4 search">
          <div>
            <i class="fa-solid fa-circle-user fs-3 float-end" routerLink="signUp"></i>
            <i class="fa-solid fa-cart-shopping fs-3 float-end me-3" ></i>
          </div>
          <input type="search" placeholder="Buscar" class="me-3 float-end">
        </div>
      </div>
    </div>
  </nav>
  
  
  <!-------------------------------------------------NAVBAR2---------------------------------------------->
  <!--Este codigo podemos modificra todo lo relacionado a la sesiones -->
  
  <nav class="navbar navbar-expand-lg bg-dark mb-2">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 items">
          <li class="nav-item">
            <a class="nav-link Citem" aria-current="page" routerLink="/" >Home<i class="fa-solid fa-house"></i></a>
          </li>
          <li class="nav-item position-relative hoverMasculino">
            <a class="nav-link Citem" href="#">Ropa Masculina <i class="fa-solid fa-shirt"></i></a>
            <div class="ropaMasculino">
              <a href="#" class="nav-link my-1 Citem2">Camisas <i class="fa-solid fa-shirt"></i></a>
              <a href="#" class="nav-link my-1 Citem2">Sudaderas <i class="fa-solid fa-person"></i></a>
            </div>
          </li>
            <li class="nav-item position-relative hoverFemenina">
              <a class="nav-link Citem" href="#">Ropa Femenina <i class="fa-solid fa-person-dress"></i></a>
              <div class="ropaFemenina">
                <a href="#" class="nav-link my-1 Citem2">Pijamas <i class="fa-solid fa-person-dress"></i></a>
                <a href="#" class="nav-link my-1 Citem2">Pijamas niñas <i class="fa-solid fa-child-dress"></i></a>
                <a href="#" class="nav-link my-1 Citem2">Blusas <i class="fa-solid fa-shirt"></i></a>
                <a href="#" class="nav-link my-1 Citem2">Ropa interior <i class="fa-solid fa-shirt"></i></a>
              </div>
            </li>
            <li class="nav-item position-relative hoverPD">
              <a class="nav-link Citem" routerLink="/promocionesDescuentos">Promocion y Descuentos <i class="fa-solid fa-person-dress" ></i></a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
