.infoMasculino, .infoFemenino{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 1px;
  z-index: 1;
  visibility: hidden;
}
.infoRInterior, .infoCamisas, .infoSudaderas, .infoBlusas{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 1px;
  z-index: 1;
  visibility: hidden;
}
img:hover{
  opacity: .4;
}
.img{
  width: 100%;
  height: 250px;
}
.hoverMasculino:hover .infoMasculino{
  visibility: visible;
}
.hoverFemenino:hover .infoFemenino{
  visibility: visible;
}
.hoverCamisas:hover .infoCamisas{
  visibility: visible;
}
.hoverBlusas:hover .infoBlusas{
  visibility: visible;
}
.hoverSudaderas:hover .infoSudaderas{
  visibility: visible;
}
.hoverRInterior:hover .infoRInterior{
  visibility: visible;
}
