<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="position-relative hoverMasculino  ">
        <img
          src="https://img.freepik.com/fotos-premium/elegante-fresco-contemporaneo-hombre-confiado-apoya-baranda-urbana-al-aire-libre-estilo-moda-tendencia-moda-informal-vestuario-masculino-verano-ropa-hombre-moda-ropa-moda-asequible_474717-19948.jpg?w=2000"
          class="w-100" alt="">
        <div class="infoMasculino bg-secondary p-3">
          <p class="text text-white">Calidad y economia</p>
          <h2 class="titulo fs-1">Ropa Masculina</h2>
          <button class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 position-relative">
      <div class="position-relative hoverFemenino">
        <img
          src="https://img.freepik.com/foto-gratis/mujer-sonriente-estilo-atractivo-elegir-ropa-tienda-ropa_285396-4753.jpg?w=2000"
          class="w-100" alt="">
        <div class="infoFemenino bg-secondary p-3">
          <p class="text text-white">Calidad y economia</p>
          <h2 class="titulo fs-1">Ropa Femenina</h2>
          <button class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-4">
  <div class="row mt-3">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverCamisas">
            <img src="https://http2.mlstatic.com/D_NQ_NP_739012-MCO49024898964_022022-O.jpg" class="img" alt="">
            <div class="infoCamisas bg-secondary p-3">
              <h2 class="titulo fs-4">Camisas</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverSudaderas">
            <img src="https://superdrycolombia.vteximg.com.br/arquivos/ids/235672-820-1000/Sudadera-Para-Hombre-Script-Style-Workwear-Jogger-Superdry623.jpg?v=637889373651200000" class="img" alt="">
            <div class="infoSudaderas bg-secondary p-3">
              <h2 class="titulo fs-4">Sudaderas</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-6">
          <div class="position-relative hoverBlusas">
            <img src="https://cdnx.jumpseller.com/jacobo-en-linea/image/9210190/resize/635/635?1619813843" class="img" alt="">
            <div class="infoBlusas bg-secondary p-3">
              <h2 class="titulo fs-4">Blusas</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="position-relative hoverRInterior">
            <img src="https://images.unsplash.com/photo-1568441556126-f36ae0900180?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cm9wYSUyMGludGVyaW9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="img" alt="">
            <div class="infoRInterior bg-secondary p-3">
              <h2 class="titulo fs-4">Ropa interior</h2>
              <button class="btn btn-primary">Comprar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>