<div class="container-fluid mt-4">
    <div class="row">
        <h3 class="titulo text-center fs-1 titulo">Ubicación y Horarios</h3>
    <div class="col-sm-6 ubicacion1">
        <h4 class="text-center titulo">Dirección</h4>
        <p class="text">Tv. 39B #73b-60, Laureles, Medellín</p>
        <p class="text">300 703 04 24</p>
        <p class="text">StileyStore.com.co</p>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <h4 class="text-center titulo">Horarios</h4>
            <div class="col d-flex justify-content-center">
                <p class="text">Lunes a Viernes 9 am a 8pm</p>
            </div>
            <div class="col d-flex justify-content-center">
                <p class="text">Sábados, domingos y festivos <br>10 am a 7pm</p>
            </div>
        </div>
    </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.052861468125!2d-75.592361585314!3d6.25676699547119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44290e4f870f69%3A0xf57f97b59ef52c39!2sEstadio%20de%20F%C3%BAtbol%20Atanasio%20Girardot!5e0!3m2!1ses!2sco!4v1671175770380!5m2!1ses!2sco" ></iframe>
        </div>
    </div>
</div>