<div class="container CPadre">
    <div class="row">
      <div class="col-12">
        <img src="../../../../assets/imgHome/contactanos.PNG" class="img">
      </div>
      <div class="col-4 facebook d-flex justify-content-center"><a href="#" class="fs-3"><i class="fa-brands fa-facebook"></i> modas_stiley</a></div>
      <div class="col-4 whatsapp d-flex justify-content-center"><a href="#" class="fs-3"><i class="fa-brands fa-whatsapp"></i>  3006577654</a></div>
      <div class="col-4 instagram d-flex justify-content-center"><a href="#" class="fs-3"><i class="fa-brands fa-instagram"></i> @modas_stiley</a></div>
    </div>
  </div>
