<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://3.bp.blogspot.com/-qdm0SFLx1YU/U7Wv1FdgLCI/AAAAAAACPb0/6qbiw-aNGSA/s1600/imagenes+y+fondos+para+compartir+en+facebook+como+banco+de+imagenes+gratis+(5).jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://3.bp.blogspot.com/-yStDnB6Iu3Y/WHVlW3DSylI/AAAAAAAABIs/N1RmsDVXD4sCY_mdt6wrUY0LWRHKQ9ppwCLcB/w1200-h630-p-k-no-nu/FONDOS%2BDE%2BPANTALLA%2B%252Cescritorios%252Cpc%2B%25283%2529.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.taringa.net/knn/identity/aHR0cDovL2szMi5rbjMubmV0L3RhcmluZ2EvOC8yLzEvNS9DL0EvYWd1c3Rpbl8zMC9BODYuanBn" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
