<div class="container-fluid

">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-4"><input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Nombre del Producto"></div>
                <div class="col-3">HEelo</div>
                <div class="col-3">jahsjhd</div>
                <div class="col-2">
                    <i class="fa-sharp fa-solid fa-pen-to-square text-success icons"></i>
                    <i class="fa-solid fa-floppy-disk text-primary icons"></i>
                    <i class="fa-sharp fa-solid fa-magnifying-glass-plus icons"></i>
                </div>
            </div>
        </div>
        <div class="col-12 table-responsive">
            
            
            <table class="table text-center table-hover">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Cantidad Disponible</th>
                        <th scope="col">Pendientes por entregar
                            <i class="fa-solid fa-circle-info"></i>
                        </th>
                        <th scope="col">Estado en punto de ventas</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td>Pijama</td>
                        <td>Mujer</td>
                        <td>20</td>
                        <td>3</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plusgi"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Pijama niña</td>
                        <td>Niños</td>
                        <td>10</td>
                        <td>1</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Gorra</td>
                        <td>Hombre</td>
                        <td>5</td>
                        <td>0</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Hoodie</td>
                        <td>Mujer</td>
                        <td>15</td>
                        <td>3</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Bralette</td>
                        <td>Mujer</td>
                        <td>7</td>
                        <td>0</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Bermuda</td>
                        <td>Hombre</td>
                        <td>9</td>
                        <td>0</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Camiseta</td>
                        <td>Hombre - Niño</td>
                        <td>25</td>
                        <td>7</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Buzos</td>
                        <td>Hombre - Mujer</td>
                        <td>15</td>
                        <td>0</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Top Arena</td>
                        <td>Mujer</td>
                        <td>5</td>
                        <td>5</td>
                        <td class="stock">Agotado</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Pantaloneta para hombre</td>
                        <td>Hombre</td>
                        <td>5</td>
                        <td>1</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Camiseta Pijama</td>
                        <td>Mujer</td>
                        <td>35</td>
                        <td>10</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Camiseta para mujer</td>
                        <td>Mujer</td>
                        <td>15</td>
                        <td>0</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Blusa manga</td>
                        <td>Mujer</td>
                        <td>5</td>
                        <td>0</td>
                        <td>Disponible para la venta</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pen-to-square text-success"></i>
                            <i class="fa-solid fa-floppy-disk text-primary"></i>
                            <i class="fa-sharp fa-solid fa-magnifying-glass-plus"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>