@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.titulo{
    font-size: 1.3rem;
    font-family: 'Righteous', cursive;
}
.text{
    font-size: 1.1rem;
    font-family:'Roboto Condensed', sans-serif;
    color: black !important;
}