<h1 class="text-center my-4">Blusas</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 cardContainer">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.llnErl3rUA7WxgmdRWwCNQHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pijama 1</h5>
          <p class="card-text">$30.000</p>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 cardContainer">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.llnErl3rUA7WxgmdRWwCNQHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pijama 1</h5>
          <p class="card-text">$30.000</p>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 cardContainer">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.llnErl3rUA7WxgmdRWwCNQHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pijama 1</h5>
          <p class="card-text">$30.000</p>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>

    <div class="col-md-4 cardContainer anonima">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.llnErl3rUA7WxgmdRWwCNQHaHa?pid=ImgDet&rs=1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pijama 1</h5>
          <p class="card-text">$30.000</p>
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary"><a href="#" class="text-white">Ver mas</a></button>
</div>

