<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 position-relative">
      <div class="row">
        <div class="col-lg-6">
          <div class="w-100 text-center MyV">
            <h1 class="text-center">MISION</h1>
            <p>
              Somos una empresa orientada en ofrecer la mejor calidad en prendas para dama, caballeros, niños y niñas. Brindandole a nuestros clientes una buena atencion, para de esta forma obtener su confianza en el momento de adquirir 
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="w-100 text-center MyV">
            <h1 class="text-center">VISION</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio asperiores cum voluptas odio repudiandae corrupti iusto. Doloribus veritatis sequi repellendus, alias odit quibusdam officiis modi perspiciatis quidem provident error eum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>